<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
<link rel="icon" href="https://www.pngtube.com/myfile/detail/30-305853_ren-amamiya-is-the-protagonist-and-player-character.png">
      <meta charset="UTF-8">
      <title>Upload Result</title>
   </head>
    <style>
	body {
	min-height: 75rem;
	padding-top: 4.5rem;
	}
</style>
   <body>
       
      Description: <span th:utext="${description}"></span>
      <br/>
      <h3>Uploaded Files:</h3>
       
      <ul th:each="file : ${uploadedFiles}">
         <li th:utext="${file}"></li>  
      </ul>      
       
      <h3>Failed:</h3>
      <ul th:each="file : ${failedFiles}">
         <li style="color:red;" th:utext="${file}"></li>  
      </ul>
       
   </body>
    
</html>