<!doctype html>
<html lang="pt-br">
<head>
<link rel="icon" href="https://www.pngtube.com/myfile/detail/30-305853_ren-amamiya-is-the-protagonist-and-player-character.png">
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Forma de Pagamento - Phantom Thieves</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<!-- Principal CSS do Bootstrap -->
<link href="../../static/css/bootstrap.min.css" rel="stylesheet">

</head>

<style>
body {
	min-height: 75rem;
	padding-top: 6rem;
}
</style>
<script type="text/javascript">
            function show(str){
                document.getElementById('sh2').style.display = 'none';
                document.getElementById('sh1').style.display = 'block';
            }
            function show2(sign){
                document.getElementById('sh2').style.display = 'block';
                document.getElementById('sh1').style.display = 'none';
            }
        </script>
<body class="bg-light">
	<div th:replace="fragmentos/fragmentos.html :: cabecalho"></div>
	
	<div class="container  mt-4 border">
	<h4>Pagamentos</h4>
	<form id="checkout" class="form-horizontal"
		th:action="@{/carrinho/escolhePagamento}" method="post" th:object="${pedido}">
			<div class="row">
			<input hidden name="codigoEndereco" th:value="${codEndereco}">
				<fieldset>
					<div class="custom-control custom-radio ">
						<input  id="credito" th:field="*{formaPagamento}" name="paymentMethod" type="radio" th:value="CARTAO"
							checked required onchange="show2()"> <label
							 for="credito">Cartão
							</label>
					
				
						<input id="debito" th:field="*{formaPagamento}" name="paymentMethod" type="radio" th:value="BOLETO"
							required onchange="show()"> <label for="debito">Boleto</label>
					</div>
				
				</fieldset>
				
				</div>
				<div id="sh1" style="display:none;">
					<div class="row">
						<div class="form-group col-md-6">
							<label>Nome:</label> <input th:value="${name}" type="text" class="form-control" readonly="readonly">
						</div>
						<div class="form-group col-md-3">
							<label>Cpf:</label> <input th:value="${cpf}" type="text" class="form-control" readonly="readonly">
						</div>
						<div class="form-group col-md-3">
							<label>Telefone:</label> <input th:value="${telefone}" type="text" class="form-control" readonly="readonly">
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6">
							<label>Endereco:</label> <input th:value="${endereco}" type="text" class="form-control" readonly="readonly">
						</div>
						<div class="form-group col-md-3">
							<label>Numero:</label> <input th:value="${numero}" type="text" class="form-control" readonly="readonly">
						</div>
						<div class="form-group col-md-3">
							<label>Complemento:</label> <input th:value="${complemento}" type="text" class="form-control" readonly="readonly">
						</div>
					</div>
					
					<div class="row">
						<div class="form-group col-md-3">
							<label>Valor Total:</label> <input th:value="${valor}" type="text" class="form-control" readonly="readonly">
						</div>
					</div>
				</div>
				<div id="sh2" style="display:none;">
					<div class="row">
					<div class="form-group col-md-8">
						<label>Nome:</label> <input placeholder="Nome no cartão" type="text" class="form-control" >
					</div>
					<div class="form-group col-md-4">
						<label>Cpf:</label> <input placeholder="CPF" type="text" class="form-control" >
					</div>
					</div>
					<div class="row">
						<div class="form-group col-md-8">
							<label>Numero:</label> <input placeholder="Numero do cartão" type="text" class="form-control" >
						</div>
						<div class="form-group col-md-4">
							<label>Código Segurança:</label> <input placeholder="Código" type="text" class="form-control" >
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-2">
							
							<div class="custom-control custom-radio ">
								<div><input  id="master" name="bandeira" type="radio" th:value="mastercard"> <label for="master" >Mastercar
									</label><img src="/icon-cartao/master.png" />
								</div>
							</div>
						</div>
						<div class="form-group col-md-2">
							<div class="custom-control custom-radio ">
								<div><input  id="vis"name="bandeira" type="radio" th:value="visa"> <label for="vis" >Visa
									</label><img src="/icon-cartao/visa.png" />
								</div>
							</div>
				
						</div>
						<div class="form-group col-md-2">
							<div class="custom-control custom-radio ">
								<div><input  id="ame"name="bandeira" type="radio" th:value="american"> <label for="ame" >American
									</label><img src="/icon-cartao/ame.png" />
								</div>
							</div>
						</div>
						</div>
					
					<div class="row">
							<div class="form-group col-md-3">
							<label>Parcelas: </label>
								<select class="form-control" 
									value="${principal.uf}" required>
									<option value="1">1x</option>
									<option value="2">2x</option>
									<option value="3">3x</option>
									<option value="4">4x</option>
									<option value="5">5x</option>
									<option value="6">6x</option>
									<option value="7">7x</option>
									<option value="8">8x</option>
									<option value="9">9x</option>
									<option value="10">10x</option>
									<option value="11">11x</option>
									<option value="12">12x</option>
								</select>
								
							</div>
							<div class="form-group col-md-3">
							<label>MM:</label>
								<select class="form-control" 
									value="${principal.uf}" required>
									<option value="1">JANEIRO</option>
									<option value="2">FEVEREIRO</option>
									<option value="3">MARÇO</option>
									<option value="4">ABRIL</option>
									<option value="5">MAIO</option>
									<option value="6">JUNHO</option>
									<option value="7">JULHO</option>
									<option value="8">AGOSTO</option>
									<option value="9">SETEMBRO</option>
									<option value="10">OUTUBRO</option>
									<option value="11">NOVEMBRO</option>
									<option value="12">DEZEMBRO</option>
								</select>
							</div>
					
						
							<div class="form-group col-md-3">
							<label>AA:</label>
								<select class="form-control" 
									value="${principal.uf}" required>
									<option value="2019">2019</option>
									<option value="2020">2020</option>
									<option value="2021">2021</option>
									<option value="2022">2022</option>
									<option value="2023">2023</option>
									<option value="2024">2024</option>
									<option value="2025">2025</option>
									<option value="2026">2026</option>
									<option value="2027">2027</option>
									<option value="2028">2028</option>
									<option value="2029">2029</option>
									<option value="2030">2030</option>
								</select>						
						</div>
						<div class="form-group col-md-3">
							<label>Valor Total:</label> <input th:value="${valor}" type="text" class="form-control" readonly="readonly">
						</div>
					</div>
				</div>
			<div class="row">
				<div class="col-md-12 mb-3">
					<button type="submit" name="remove" class="btn btn-success">Finalizar Compra</button>
				</div>
			</div>
	
	</form>
	</div>

	<!-- Principal JavaScript do Bootstrap
    ================================================== -->
	<!-- Foi colocado no final para a página carregar mais rápido -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script>
		window.jQuery
				|| document
						.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
	</script>
	<script src="../../assets/js/vendor/popper.min.js"></script>
	<script src="../../dist/js/bootstrap.min.js"></script>
	<script src="../../assets/js/vendor/holder.min.js"></script>
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		crossorigin="anonymous">
</body>
</html>
