<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="icon" href="https://www.pngtube.com/myfile/detail/30-305853_ren-amamiya-is-the-protagonist-and-player-character.png">
<meta charset="UTF-8">
<title>Editar Status</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

</head>
<style>
	body {
	min-height: 75rem;
	padding-top: 4.5rem;
	}
</style>
<body>
	<div th:replace="fragmentos/fragmentos.html :: cabecalho"></div>
	<div class="container mt-4 border">
		<h3>Editar Status</h3>
		<form class="form-horizontal" action="/estoquista/editar/{pedido.id}" method="post"
			th:object="${pedido}">
			<div class="row">
				<div class="form-group col-md-6">
					<div class="alert alert-danger" role="alert"
						th:if="${#fields.hasErrors('id')}">
						<label th:errors="*{id}" class="validation-message"></label>
					</div>
					<label>Id:</label> <input type="text" class="form-control"
						th:field="*{id}" ReadOnly>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-6">
					<label>Status:</label>
						<select class="form-control" name="status" th:field="*{statusPedido}">
							<option th:value="aguardando_pagamento">Aguardando pagamento</option>
							<option th:value="pagamento_rejeitado">Pagamento rejeitado</option>
							<option th:value="pagamento_sucesso">Pagamento com sucesso</option>
							<option th:value="aguardando_retirada">Aguardando retirada</option>
							<option th:value="pedido_transito">Pedido em transito</option>
							<option th:value="pedido_entregue">Pedido entregue</option>
						</select>	
				</div>
			</div>
			<button type="submit" class="btn btn-primary mb-1">Salvar</button>
			<a href="/" class=" btn btn-danger mb-1">Cancelar</a>
		</form>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>