<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
<link rel="icon" href="https://www.pngtube.com/myfile/detail/30-305853_ren-amamiya-is-the-protagonist-and-player-character.png">
<meta charset="UTF-8"></meta>
<title>Status dos Pedidos</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">


</head>
<style>
	body {
	min-height: 75rem;
	padding-top: 4.5rem;
	}
</style>
<body>
	<div th:replace="fragmentos/fragmentos.html :: cabecalho"></div>
	<div class="container">
		<h2>Lista de Pedidos</h2>
		<table class="table" id="tbl-pedido">
			<thead>
				<th>Id</th>
				<th>Data Pedido</th>
				<th>Valor Total</th>
				<th>Status</th>
				<th>Forma Pag.</th>
				<th>Editar Status</th>
			</thead>
			<tbody>
				<tr th:each="pedido: ${pedidos}">
					<td th:text="${pedido.id}"></td>
					<td th:text="${pedido.dataPed}"></td>
					<td th:text="${pedido.valorTotal}"></td>
					<td th:text="${pedido.statusPedido}"></td>
					<td th:text="${pedido.formaPagamento}"></td>
					<td><a class="btn btn-warning"
						th:href="@{/estoquista/editar/{id}(id=${pedido.id})}">Editar</a>
					</td>
				</tr>
			</tbody>
		</table>	
		
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

</body>
</html>
