<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
<link rel="icon"
	href="https://www.pngtube.com/myfile/detail/30-305853_ren-amamiya-is-the-protagonist-and-player-character.png">
<meta charset="UTF-8"></meta>
<title>Usuários</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<style>
body {
	min-height: 75rem;
	padding-top: 4.5rem;
}
</style>
<body>
	<div th:replace="fragmentos/fragmentos.html :: cabecalho"></div>
	<div class="container">
		<table class="table" id="tbl-pedido">
			<label for=""><b>Dados do Pedido</b></label>
			<thead>
				<th>Id</th>
				<th>Data Pedido</th>
				<th>Status</th>
				<th>Valor Total + Frete</th>
				<th>Forma Pag.</th>
			</thead>
			<tbody>
				<tr th:each="pedido: ${ped}">
					<td th:text="${pedido.id}"></td>
					<td th:text="${pedido.dataPed}"></td>
					<td th:text="${pedido.statusPedido}"></td>
					<td th:text="${pedido.valorTotal}"></td>
					<td th:text="${pedido.formaPagamento}"></td>
				</tr>
			</tbody>
		</table>

		<br>
		<br>

		<table class="table" id="tbl-itensPedido">
			<label for=""><b>Itens</b></label>
			<thead>
				<th>#</th>
				<th>Produto</th>
				<th>Quantidade</th>
				<th>Valor</th>
			</thead>
			<tbody>
				<tr th:each="itemPed: ${itensPed}">
					<td> <img width="100" height="100" th:src="${itemPed.localArquivo}"> </td>
					<td th:text="${itemPed.nomeProd}"></td>
					<td th:text="${itemPed.qtde}"></td>
					<td th:text="${itemPed.valor}"></td>				
				</tr>
			</tbody>
		</table>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

</body>
</html>
