<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Editar Cadastro</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<script>
	function passwordValidator() {
		var password = document.getElementById("password").value;
		var passwordConfirm = document.getElementById("passwordConfirm").value;

		if (password == passwordConfirm) {
			return true;
		}
		alert("A senha inserida não confere com a confirmação!");
		return false;
	}
</script>
</head>
<body>
	<div th:replace="fragmentos/fragmentos.html :: cabecalho"></div>
	<div class="container mt-4 border">
		<h3>Editar Meus Dados</h3>
		<br>
		<form class="form-horizontal" action="/cliente/editar-dados"
			method="post" th:object="${cliente}">
			<div class="row">
				<div>
					<input type="text" class="form-control" th:field="*{id}"
						value="${cliene.id}" readonly="readonly" hidden="true" required>
				</div>
				<div class="form-group col-md-10">
					<div class="alert alert-danger" role="alert"
						th:if="${#fields.hasErrors('name')}">
						<label th:errors="*{name}" class="validation-message"></label>
					</div>
					<label>Nome Completo*:</label> <input type="text"
						class="form-control" th:field="*{name}"
						placeholder="Digite aqui o seu nome completo"
						value="${cliene.name}" readonly="readonly" required>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-3">
					<div class="alert alert-danger" role="alert"
						th:if="${#fields.hasErrors('birthdate')}">
						<label th:errors="*{birthdate}" class="validation-message"></label>
					</div>
					<label>Data de Nascimento*:</label> <input type="date"
						class="form-control" th:field="*{birthdate}"
						placeholder="Escolha a data correspondente"
						value="${cliente.birthdate}" required>
				</div>
				<div class="form-group col-md-3">
					<div class="alert alert-danger" role="alert"
						th:if="${#fields.hasErrors('cpf')}">
						<label th:errors="*{cpf}" class="validation-message"></label>
					</div>
					<label>CPF*:</label> <input type="text" id="cpf"
						class="form-control" th:field="*{cpf}"
						placeholder="Digite aqui o seu CPF" value="${cliente.cpf}"
						readonly="readonly" required>
				</div>
				<div class="form-group col-md-4">
					<div class="alert alert-danger" role="alert"
						th:if="${#fields.hasErrors('user')}">
						<label th:errors="*{user}" class="validation-message"></label>
					</div>
					<label>E-mail*:</label> <input type="email" id="user"
						class="form-control" th:field="*{user}"
						placeholder="Digite aqui o seu CPF" value="${cliente.user}"
						readonly="readonly" required>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-1">
					<div class="alert alert-danger" role="alert"
						th:if="${#fields.hasErrors('ddd')}">
						<label th:errors="*{ddd}" class="validation-message"></label>
					</div>
					<label>DDD*:</label> <input type="text" class="form-control"
						th:field="*{ddd}" placeholder="DDD" value="${cliente.ddd}"
						required>
				</div>
				<div class="form-group col-md-3">
					<div class="alert alert-danger" role="alert"
						th:if="${#fields.hasErrors('telephone')}">
						<label th:errors="*{telephone}" class="validation-message"></label>
					</div>
					<label>Contato 1*:</label> <input type="text" class="form-control"
						th:field="*{telephone}" placeholder="Digite o número telefone"
						value="${cliente.telephone}" required>
				</div>
				<div class="form-group col-md-1">
					<div class="alert alert-danger" role="alert"
						th:if="${#fields.hasErrors('dddContactTwo')}">
						<label th:errors="*{dddContactTwo}" class="validation-message"></label>
					</div>
					<label>DDD:</label> <input type="text" class="form-control"
						th:field="*{dddContactTwo}" placeholder="DDD"
						value="${cliente.dddContactTwo}">
				</div>
				<div class="form-group col-md-3">
					<div class="alert alert-danger" role="alert"
						th:if="${#fields.hasErrors('telephoneContactTwo')}">
						<label th:errors="*{telephoneContactTwo}"
							class="validation-message"></label>
					</div>
					<label>Contato 2:</label> <input type="text" class="form-control"
						th:field="*{telephoneContactTwo}"
						placeholder="Digite o número telefone"
						value="${cliente.telephoneContactTwo}">
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-6">
					<div class="alert alert-danger" role="alert"
						th:if="${#fields.hasErrors('address')}">
						<label th:errors="*{address}" class="validation-message"></label>
					</div>
					<label>Logradouro*:</label> <input type="text" class="form-control"
						th:field="*{address}" placeholder="Digite aqui seu o logradouro"
						value="${cliente.address}" required>
				</div>
				<div class="form-group col-md-2">
					<div class="alert alert-danger" role="alert"
						th:if="${#fields.hasErrors('addressNumber')}">
						<label th:errors="*{addressNumber}" class="validation-message"></label>
					</div>
					<label>Nº*:</label> <input type="text" class="form-control"
						th:field="*{addressNumber}" placeholder="ex: A18"
						value="${cliente.addressNumber}" required>
				</div>
				<div class="form-group col-md-2">
					<div class="alert alert-danger" role="alert"
						th:if="${#fields.hasErrors('cep')}">
						<label th:errors="*{cep}" class="validation-message"></label>
					</div>
					<label>CEP*:</label> <input type="text" class="form-control"
						th:field="*{cep}" placeholder="ex: 04855-070"
						value="${cliente.cep}" required>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-6">
					<div class="alert alert-danger" role="alert"
						th:if="${#fields.hasErrors('complemento')}">
						<label th:errors="*{complemento}" class="validation-message"></label>
					</div>
					<label>Complemento:</label> <input type="text" class="form-control"
						th:field="*{complemento}" placeholder="Digite aqui o complemento"
						required>
				</div>
				<div class="form-group col-md-4">
					<div class="alert alert-danger" role="alert"
						th:if="${#fields.hasErrors('bairro')}">
						<label th:errors="*{bairro}" class="validation-message"></label>
					</div>
					<label>Bairro*:</label> <input type="text" class="form-control"
						th:field="*{bairro}"
						placeholder="Digite aqui o bairro de sua residência" required>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-6">
					<div class="alert alert-danger" role="alert"
						th:if="${#fields.hasErrors('city')}">
						<label th:errors="*{city}" class="validation-message"></label>
					</div>
					<label>Cidade*:</label> <input type="text" class="form-control"
						th:field="*{city}" placeholder="Ex: São Paulo" required>
				</div>
				<div class="form-group col-md-3">
					<label>UF*:</label> <select class="form-control" th:field="*{uf}"
						required>
						<option value="SP">SP</option>
						<option value="AC">AC</option>
						<option value="AL">AL</option>
						<option value="AM">AM</option>
						<option value="AP">AP</option>
						<option value="BA">BA</option>
						<option value="CE">CE</option>
						<option value="DF">DF</option>
						<option value="ES">ES</option>
						<option value="GO">GO</option>
						<option value="MA">MA</option>
						<option value="MG">MG</option>
						<option value="MS">MS</option>
						<option value="MT">MT</option>
						<option value="PA">PA</option>
						<option value="PB">PB</option>
						<option value="PE">PE</option>
						<option value="PI">PI</option>
						<option value="PR">PR</option>
						<option value="RJ">RJ</option>
						<option value="RN">RN</option>
						<option value="RO">RO</option>
						<option value="RR">RR</option>
						<option value="RS">RS</option>
						<option value="SC">SC</option>
						<option value="SE">SE</option>
						<option value="TO">TO</option>
					</select>
				</div>
			</div>
			<button type="submit" class="btn btn-primary "
				onclick="return passwordValidator()">Salvar</button>
			<button type="reset" class="btn btn-danger">Cancelar</button>
		</form>
		<br>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>