<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Endereço de Entrega</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<script>
	function ConfirmaExclusao() {
		if (confirm("Deseja excluir o endereço selecionado ?"))
			return true;
		else
			return false;
	}
</script>
<body>
	<div th:replace="fragmentos/fragmentos.html :: cabecalho"></div>
	<div class="container mt-4 border">
		<h3>Meu Endereço Principal</h3>
		<form class="form-horizontal"
			action="/cliente/enderecos/editar-principal" method="post"
			th:object="${clienteEndereco}">
			<div class="row">
				<div>
					<input type="text" class="form-control" th:field="*{id}"
						value="${clienteEndereco.id}" readonly="readonly" hidden="true"
						required>
				</div>
				<div class="form-group col-md-6">
					<div class="alert alert-danger" role="alert"
						th:if="${#fields.hasErrors('address')}">
						<label th:errors="*{address}" class="validation-message"></label>
					</div>
					<label>Logradouro:</label> <input type="text" class="form-control"
						th:field="*{address}" placeholder="Digite aqui seu o logradouro"
						value="${clienteEndereco.address}" required>
				</div>
				<div class="form-group col-md-2">
					<div class="alert alert-danger" role="alert"
						th:if="${#fields.hasErrors('addressNumber')}">
						<label th:errors="*{addressNumber}" class="validation-message"></label>
					</div>
					<label>Nº:</label> <input type="text" class="form-control"
						th:field="*{addressNumber}" placeholder="ex: A18"
						value="${clienteEndereco.addressNumber}" required>
				</div>
				<div class="form-group col-md-2">
					<div class="alert alert-danger" role="alert"
						th:if="${#fields.hasErrors('cep')}">
						<label th:errors="*{cep}" class="validation-message"></label>
					</div>
					<label>CEP:</label> <input type="text" class="form-control"
						th:field="*{cep}" placeholder="ex: 04855-070"
						value="${clienteEndereco.cep}" required>
				</div>
			</div>
			<button type="submit" class="btn btn-primary ">&nbsp Alterar
				&nbsp &nbsp</button>
		</form>
		<br>
	</div>
	<div class="container mt-4 border">
		<h3>Adicionar Novo Endereço de Entrega</h3>
		<form class="form-horizontal" action="/cliente/enderecos/adicionar"
			method="post" th:object="${endereco}">
			<div class="row">
				<div class="form-group col-md-6">
					<div class="alert alert-danger" role="alert"
						th:if="${#fields.hasErrors('address')}">
						<label th:errors="*{address}" class="validation-message"></label>
					</div>
					<label>Logradouro:</label> <input type="text" class="form-control"
						th:field="*{address}" placeholder="Digite aqui seu o logradouro"
						required>
				</div>
				<div class="form-group col-md-2">
					<div class="alert alert-danger" role="alert"
						th:if="${#fields.hasErrors('addressNumber')}">
						<label th:errors="*{addressNumber}" class="validation-message"></label>
					</div>
					<label>Nº:</label> <input type="text" class="form-control"
						th:field="*{addressNumber}" placeholder="ex: A18" required>
				</div>
				<div class="form-group col-md-2">
					<div class="alert alert-danger" role="alert"
						th:if="${#fields.hasErrors('cep')}">
						<label th:errors="*{cep}" class="validation-message"></label>
					</div>
					<label>CEP:</label> <input type="text" class="form-control"
						th:field="*{cep}" placeholder="ex: 04855-070" required>
				</div>
			</div>
			<button type="submit" class="btn btn-primary ">Adicionar
				&nbsp</button>
		</form>
		<br>
	</div>
	<div class="container mt-4 border">
		<h3>Adicionar Novo Endereço de Entrega</h3>
		<br>
		<div th:each="endereco:  ${enderecos}">
			<div class="row">
				<div class="form-group col-md-6">
					<label>Logradouro:</label> <label th:text="${endereco.address}"
						th:value="${endereco.address}"></label>
				</div>
				<div class="form-group col-md-2">
					<label>Nº:</label> <label th:text="${endereco.addressNumber}"
						th:value="${endereco.addressNumber}"> </label>
				</div>
				<div class="form-group col-md-2">
					<label>CEP:</label> <label th:text="${endereco.cep}"
						th:value="${endereco.cep}"> </label>
				</div>
				<div class="form-group col-md-2">
					<a class="btn btn-danger"
						th:href="@{/cliente/enderecos/inativar/{id}(id=${endereco.id})}">Inativar</a>
				</div>
			</div>
			<br>
		</div>
		<br>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>